<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Woobus: Download App</title>
<link href='http://192.168.50.1/google-font' rel='stylesheet' type='text/css'>
<style type="text/css">

*{ margin:0; padding:0; outline: none;}
html{ font-size:14px;}
body{font-family: 'Lato', sans-serif; letter-spacing:1px; color:#333333;}
a{ text-decoration:none;}
li{ list-style: none;}
img{ border:0;}
.layout{margin:0 10%;}
.dpBlk{ display:block;}
.dptb{ display:table;}
.dptc{display: table-cell;}
.dpInblk{ display:inline-block; vertical-align: top;}
.text-center{ text-align:center;}
.clear{ clear:both; float:none;}

/*top section*/
.content-wrpr{ width:100%; background: #fff;}
.top-section{ background:url(http://192.168.50.1/images/header-bg1.jpg) no-repeat scroll center 25%;padding:50px 0 0 0; box-sizing:border-box;}
.top-section > .layout{ display: table;}
.left-side, .right-side{ min-width: 50%; display:table-cell; width: 50%;}
.left-side{ text-align:left; color:#fff;}
.right-side{ text-align:right; position: relative;}
.logo{ padding-bottom: 5.714rem;}
.logo + h2{font-size: 3rem;}
.left-side p{padding: 1.429rem 0;font-size: 2.143rem;}
.left-side aside{ padding: 2.143rem 0; display:block;}
.left-side aside span{ display:inline-block; margin:0 0.357rem;}
.right-side div.dpInblk{ margin-bottom:-3px; position: absolute; right: 0; bottom: 0;}
.right-side div.dpInblk > img{ width:100%;}

/*bottom section*/
.btm-section{ width:100%; background: #f3f3f3; padding:5.714rem 0; box-sizing:border-box;}
.btm-section h2{ padding:0 0 1.429rem 0; font-size:1.786rem; }
.btm-section h2 + p{ font-size:1.286rem;}
.features{ padding:3.571rem 0 0 0;}
.features li{ display:block; float:left; vertical-align:top; margin-bottom: 10px; width: 24%; margin-right: 14px; background:#fff; padding:20px 15px; box-sizing:border-box; text-align:center; min-height: 263px; max-height: 285px; overflow: hidden; border-bottom: 2px solid #e52f3c;}
.features li h5{ font-size:1.143rem; font-weight: bold; padding-bottom: 2rem;}
.features figcaption{ font-size:14px; padding-top: 2rem;}
.features li:nth-child(4){ margin-right: 0px;}

footer{ width: 100%; text-align: center; background: #272727; padding:2.500rem 0;}
footer p{ display:inline-block; color:#fff;  border-top: 1px solid #1c1c1c; padding-top:10px;}

@media screen and (min-width: 320px) and (max-width: 490px) {	
html{ font-size:10px;}
.layout{ margin:0 3%;}
.top-section > .layout{ display: block;}	
.left-side, .right-side{ display:block; width: 100%; text-align:center;}
.right-side{ position: static;}
.right-side div.dpInblk{ position:static; width:70%;margin-bottom: -1px;}
.logo { padding-bottom: 3.714rem;}
.left-side aside { padding: 1rem 0 2rem; }
.features li { display:block; margin:0 0 1.429rem 0; width:100%;}
.btm-section h2{ font-size: 2.5rem;}
.btm-section h2 + p {font-size: 1.5rem;}
.features figcaption{ font-size:1.5rem;}
.features li h5{ font-size:2rem;}
footer p{ font-size:1.5rem;}
	}
@media screen and (min-width: 491px) and (max-width: 800px){	
html{ font-size: 12px;}
.layout{ margin:0 5%;}
.top-section > .layout{ display: block;}	
.left-side, .right-side{ display:block; width: 100%; text-align:center;}
.right-side{ position: static;}
.right-side div.dpInblk{ position:static; width:70%;}
.logo { padding-bottom: 3.714rem;}
.btm-section h2{ font-size: 2.5rem;}
.btm-section h2 + p {font-size: 1.5rem;}
.features li {margin:0 .9rem 1rem 0; width:48.6%; height:275px;}
.features li:nth-child(2n){ margin-right: 0px;}	
footer p{ font-size:1.2rem;}
	}
@media screen and (min-width: 601px) and (max-width: 800px){	
.features li h5{ font-size:2rem;}
.features li {width:49%;}
.features figcaption{ font-size:1.2rem;}
}
@media screen and (min-width: 801px) and (max-width: 1251px){	
html{ font-size: 13px;}
.features li {width:23.4%; height: 325px; max-height: 330px;}
.features figcaption{ font-size:1.2rem;}
.layout{ margin:0 7%;}
}	
@media screen and (min-width: 1252px) and (max-width: 1366px){
.features li {width:23.8%;}	
	}

</style>
</head>

<body>
<div class="content-wrpr">
    <section class="top-section">
    	<div class="layout">            
            <article class="left-side">
            	<h1 class="dpBlk logo"><a href="http://www.woobus.in/"><img src="images/logo.png" alt="Woobus Logo"></a></h1>
                <h2>Wooing your bus <br> Journeys</h2>
                <p>Say Goodbye to boring bus journeys. Find entertainment on the go.</p>
                <aside>
                    <span><a href="http://192.168.50.1/woobus.apk"><img src="http://192.168.50.1/images/android.png" alt="android"></a></span>
                </aside>
            </article>
            <article class="right-side">
            	<div class="dpInblk">
	                <img src="http://192.168.50.1/images/lp-imagehalf.png" alt="">
                </div>
            </article>
        </div>
    </section>
    <section class="btm-section">
    	<div class="layout">
            <h2 class="text-center">Main Features</h2>
            <p class="text-center">WOOBUS believes that every traveller deserves to be wooed during the journey. Therefore, we focus on ensuring a safe, comfortable and joyous bus journey.</p>
            <article class="features">
                <ul>
                    <li>
                        <h5>LEG SPACE</h5>
                        <figure>
                            <img src="http://192.168.50.1/images/legspace.jpg" alt="Leg Space">
                            <figcaption>Each bus is customized in a way to provide sufficient leg room for every one. We keep exclusive seats for our extra tall travellers.</figcaption>
                        </figure>
                    </li>
                    <li>
                        <h5>CACHEFI WIFI</h5>
                        <figure>
                            <img src="http://192.168.50.1/images/wifi.png" alt="CACHEFI WIFI">
                            <figcaption>Our own smart WiFi router to provide movies, songs, travel guides on the go to ensure a joyous journey even in the absence of internet.</figcaption>
                        </figure>
                    </li>
                    <li>
                        <h5>ACCESSORIES</h5>
                        <figure>
                            <img src="http://192.168.50.1/images/accessories21x54.png" alt="ACCESSORIES">
                            <figcaption>Clean blankets, Eye masks, Ear buds, Puke bags, Sanitary napkins etc.</figcaption>
                        </figure>
                    </li>
                    <li>
                        <h5>TRACKING</h5>
                        <figure>
                            <img src="http://192.168.50.1/images/home36x54.png" alt="TRACKING">
                            <figcaption>Each bus has GPS installed in it which provides real time tracking of the bus accessible both by travellers and their friends & family.</figcaption>
                        </figure>
                    </li>   
                    <div class="clear"></div>                                                         
                </ul>
            </article>
        </div>
    </section>  
    <footer>
    	<p>Copyright © 2015 Wooyou Labs Pvt. Ltd. All Rights Reserved.</p>
    </footer>  
</div>    
</body>
</html>
